<div class="row ">

    <div class="col-6 animated slideInLeft ">

        <table mdbTable
               mdbTableScroll
               class="white-text animated slideInLeft"
               small="true"
               borderless="true"
               striped="true"
               maxHeight="767"
               scrollY="true">

            <thead class="indigo white-text">
                <tr style="text-align:center">
                    <th scope="col">#</th>
                    <th scope="col">Country</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Currency</th>
                </tr>
            </thead>

            <tbody>
                <tr mdbTableCol 
                    *ngFor="let country of Countries;let i = index"
                    style="text-align:center">
                    <th scope="row">{{i+1}}</th>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td style="cursor:pointer" mdbWavesEffect>
                        <span *ngFor="let currency of country.currencies;let j=index"
                              [routerLink]="['detail',currency.code]"
                              class="animated hoverable">
                            <span *ngIf="j>0">&nbsp;&nbsp;&nbsp;</span>{{currency.name}}&nbsp;({{currency.symbol}})
                        </span>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-6 ">
        <router-outlet></router-outlet>
    </div>


</div>

