<div class="row" style="height: 15vh;">
    <footer class="page-footer font-small indigo pt-4 fixed-bottom">

        <div class="container-fluid text-center text-md-left">
            <div class="row">

                <div class="col-md-6 mt-md-0 mt-3">


                    <h5 class="text-uppercase">Code Hub</h5>
                    <p>Code Hub mini-project displaying world countries, capitals and their currencies.</p>

                </div>

                <hr class="clearfix w-100 d-md-none pb-3">

            </div>
        </div>

        <div class="footer-copyright text-center py-3">
            Made by: S.Theoharis
        </div>

    </footer>
</div>



